#login-page {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/netflix-bg.png");
  object-fit: cover;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#login-card {
  position: relative;
  top: 30%;
  left: 30%;
  right: 20%;
  padding-top: 2em;
  padding-bottom: 4em;
  padding: 2em 1em 4em 1em;
  width: 40%;
  text-align: center;
  background-color: white;
  border-radius: 22px;
}

.login-button {
  cursor: pointer;
  color: white;
  padding: 12px;
  border-radius: 8px;
  display: inline-block;
}

.facebook {
  background-color: #3b5998;
  background: linear-gradient(to left, #3b5998 50%, #11e2bf 50%) right;
  background-size: 200%;
  transition: 0.5s ease-out;
}

.google {
  background-color: #4285f4;
  background: linear-gradient(to left, #3b5998 50%, #11e2bf 50%) right;
  margin-top: 20px;
  background-size: 200%;
  transition: 0.5s ease-out;
  color: white;
}

.google:hover,
.facebook:hover {
  background-position: left;
  font-weight: 600;
}
